header{
background-color: blue;
color: white;
}

.container {
background-color: lightgray;
color: red;
}

.highlight{
    color: green;
}

.main-content{
    background-color: yellow;
}

#id1{
    text-align: center;
}

a {
    text-decoration: none;
}

.heading{
    text-decoration: underline dashed;  
}

.bold-text{
    font-weight: bold;
}

#intro{
    font-weight: 300;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
}

.custom-font {
    font-family: 'Times New Roman', Times, serif;
}

.capitalize-text{
    text-transform: capitalize;
}